*:focus {outline: none !important;outline:0px !important; -webkit-tap-highlight-color:   rgba(0, 0, 0, 0);}
*{-webkit-tap-highlight-color:   rgba(0, 0, 0, 0);tap-highlight-color:   rgba(0, 0, 0, 0);}
svg{width:100% !important;}
.contenidoCorazon img{-webkit-filter:grayscale(0.99);}
.contenidoCorazon{
	-webkit-transform: scale(1) translateY(-63px) translateX(-99px);
	-moz-transform: scale(1) translateY(-63px) translateX(-99px);
	-ms-transform: scale(1) translateY(-63px) translateX(-99px);
	-o-transform: scale(1) translateY(-63px) translateX(-99px);
	transform: scale(1) translateY(-63px) translateX(-99px);
}
.contenidoCorazon{-webkit-transition-property:-webkit-transform, all; -webkit-transition-duration:1s; -webkit-transition-timing-function:ease;}
input{ background:#ffffff !important; width:40% !important; padding:4px !important; height:22px !important; border:1px solid #3b3b3b; border-radius: 6px;font-size: 16px; text-align: center;}
.contenidoCorazonTexto{font-size: 28px; font-family: arial; font-weight: bold;width: 350px;margin:0 auto; text-align: center; z-index: 1; width:460px; color: #ffffff;}
.estilosde{font-size: 23px; font-family: arial; font-weight: bold; width: 247px; text-align: center; margin-top: 153px !important; z-index: 1; color: #ffffff;}
.loop {
    -moz-animation:spin 3s infinite linear;
    -webkit-animation:spin 3s infinite linear;
    -webkit-filter:grayscale(0) !important;
}

@-moz-keyframes spin {
    0% { -moz-transform:scale(1); }
    50% { -moz-transform:scale(0.9); }
    100% { -moz-transform:scale(1); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:scale(1); }
    50% { -webkit-transform:scale(0.9); }
    100% { -webkit-transform:scale(1); }
}